<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace = "xyz.sumtplus.mapper.MemberMapper">
	<resultMap type="xyz.sumtplus.domain.MemberVO" id="memberMap">
		<id property="userNo" column="userNo"/>
		
		<result property="userNo" column="userNo"/>
		<result property="userId" column="userId"/>
		<result property="userPw" column="userPw"/>
		<result property="userName" column="userName"/>
		<result property="email" column="email"/>
		<result property="tel" column="tel"/>
		<result property="enabled" column="enabled"/>
		<collection property="authList" resultMap="authMap"/>
	</resultMap>
	
	<resultMap type="xyz.sumtplus.domain.AuthVO" id="authMap">
		<result property="userNo" column="userNo"/>
		<result property="auth" column="auth"/>
	</resultMap>
	<!-- 회원테이블과 권한테이블을 조인해서 가져옴 -->
	<select id="read" resultMap="memberMap">
		SELECT *
		FROM TBL_MEMBER
		JOIN TBL_MEMBER_AUTH
		USING (USERNO)
		WHERE USERNO = #{userNo}
	</select>
	
	
	<!-- 아이디 중복확인 -->
	 <select id="idChk" resultType="int">

        SELECT COUNT(*) FROM TBL_MEMBER

        WHERE USERID = #{userId}

    </select>
    <!-- 네이버아이디로 회원가입 -->
    <insert id="naverInsert">
	<selectKey keyProperty="userNo" order="BEFORE" resultType="long">
		SELECT SEQ_MEMBER.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO TBL_MEMBER(USERNO, USERID, USERPW, USERNAME, EMAIL, TEL, SNSID) VALUES(#{userNo}, #{userId}, #{userPw}, #{userName}, #{email}, #{tel}, #{snsId})
	</insert>
	
	
</mapper>
  