<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.sumtplus.mapper.PaymentMapper">

	<!-- 결제내역 등록 -->
	<insert id="insert" >
	<if test="regNo != null">
		INSERT INTO TBL_PAYMENT(PAYNO, USERNO, USERNAME, REGNO, PAYMENT, ITEMNAME) 
			VALUES(SEQ_PAYMENT.NEXTVAL, #{userNo}, #{userName}, #{regNo}, #{payment}, #{itemName})
	</if>
	<if test="regNo == null">
		INSERT INTO TBL_PAYMENT(PAYNO, USERNO, USERNAME, PAYMENT, ITEMNAME) 
			VALUES(SEQ_PAYMENT.NEXTVAL, #{userNo}, #{userName}, #{payment}, #{itemName})
	</if>
	</insert>
	
	<!-- 요금제찾기 -->
	<select id="selectFee" resultType="xyz.sumtplus.domain.FeeVO">
		SELECT FNO, NAME, PRICE, PERIOD FROM TBL_FEE 
		WHERE FNO= #{fno}
	</select>
	
</mapper>